header {
    background-color: var(--header-bg-color);
    color: var(--white);

    @include display-flex(flex);

    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}