*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7e7e8;
}

header {
  background-color: #3a23ac;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
}

.home-link {
  color: white;
  background-color: #1a0971;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.home-link p,
.home-link h1 {
  margin: 0;
}

.home-link:hover {
  background-color: #330b91;
}

.home-link:hover p,
.home-link:hover h1 {
  color: #f0f0f0;
}

h1 {
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-link {
  background-color: #1a0971;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.nav-link img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.nav-link p {
  margin: 0;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  background-color: #4b2f7d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nav-link:hover img {
  transform: scale(1.1);
}

.nav-link:hover p {
  color: #ffd700;
}

main {
  display: flex;
}

aside {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  transition: color 0.3s ease;
}

.advanced-label {
  position: absolute;
  right: 20px;
  font-size: 18px;
}

input[type="radio"]:checked + label {
  color: black;
}

.content {
  width: 100%;
  margin: 30px 0;
}

.content div {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#basic:checked ~ .content .basic-content {
  display: block;
}

#advanced:checked ~ .content .advanced-content {
  display: block;
}

.basic-content,
.advanced-content {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.search-input {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.basic-content button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.basic-content button:hover {
  background-color: #0056b3;
}

.basic-content input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.advanced-content input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.advanced-content button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.advanced-content button:hover {
  background-color: #007bff;
}

section {
  position: relative;
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.displayed-employee-text {
  position: absolute;
  left: 70px;
}

.grid-icon {
  position: absolute;
  right: 110px;
}

.list-icon {
  position: absolute;
  right: 70px;
}

.grid-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid-list label {
  cursor: pointer;
}

.toggle {
  display: none;
}

.not-found {
    background-color: #fff;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 70px;
  border-radius: 20px;
}