@use "../layout/header";
@use "../abstracts/mixins" as mixins;

.home-main {
  display: flex;
}

input[type="radio"]:checked + label {
  color: var(--black);
}

section {
  position: relative;
  @include mixins.flex-center(column, flex-start, center);
  flex: 2;
  padding: 20px;
}

.displayed-employee-text {
  position: absolute;
  left: 70px;
  color: var(--black);
}

.grid-icon,
.list-icon {
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.grid-icon {
  right: 110px;
}

.list-icon {
  right: 70px;
}

.toggle {
  display: none;
}

.section-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 50px 30px;
}

.section-body-list {
  @include mixins.flex-center(column, flex-start, center);
  gap: 10px;
  padding: 30px;
  margin: 10px;
}

#grid:checked ~ .grid-icon img,
#list:checked ~ .list-icon img {
  transform: scale(1.2);
}

.grid-icon:hover,
.list-icon:hover {
  transform: scale(1.2);
}

.views {
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
  opacity: 0.4;
  margin: 10px 0;
}
