@use "../abstracts/var";
@use "../layout/header";
@use "../abstracts/mixins" as mixins;

@mixin space-between {
  @include mixins.flex-center(row, space-between, center);
  gap: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.user-main {
  width: 90%;
  max-width: 1920px;
  display: flex;
  gap: 3px;
  margin: 0 auto;
}

.loader {
  color: var.$header-bg-color;
  font-size: 2em;
  margin: 20% 50%;
}

.user-aside {
  position: relative;
  background-color: var.$white;
  flex: 1;
  @include mixins.flex-center(column, flex-start, center);
  gap: 20px;
  border-radius: 10px 0 0 10px;
  margin: 30px 0;
  padding: 50px 0;
  box-shadow: var.$card-box-shadow;

  .user-name-input {
    @include mixins.flex-center(column, flex-start, center);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.back {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: var.$background-color;
  border-radius: 50%;
  @include mixins.flex-center(row, center, center);
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.1;
    background-color: var.$input-border;
  }
}

.copy {
  background-color: var.$input-border;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.9em;

  @include space-between;

  &:hover {
    background-color: var.$background-color;
  }
}

.edit {
  background-color: var.$background-color;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 600;

  @include space-between;

  &:hover {
    background-color: var.$button-bg-color;
  }
}

.user-section {
  background-color: var.$white;
  color: var.$gray;
  flex: 2;
  border-radius: 0 10px 10px 0;
  margin: 30px 0;
  padding: 60px;
  box-shadow: var.$card-box-shadow;
}

.line {
  width: 90%;
  height: 1px;
  background-color: var.$background-color;
  margin: 10px 0;
}

.info-container {
  display: flex;
  margin-bottom: 100px;
}

.info-container-travel {
  display: flex;
  margin-bottom: 100px;
  gap: 10px;
}

.info-left {
  width: 45%;
  @include mixins.flex-center(column, flex-start, flex-start);
  gap: 20px;
}

.info-list {
  @include mixins.flex-center(row, flex-start, center);
  gap: 15px;
}

.info-right {
  @include mixins.flex-center(column, flex-start, flex-start);
  gap: 20px;
}

.date-inputs {
  display: flex;
  gap: 5px;
}

.disabled {
  color: var.$gray;
  cursor: not-allowed;
  opacity: 0.6;
}
