:root {
    --font-family: Arial, sans-serif;
    --background-color: #e7e7e8;
    --header-bg-color: #3a23ac;
    --white: #fff;
    --aqua: aqua;
    --gray: gray;
    --black: black;
    --link-bg-color: #1a0971;
    --link-hover-bg-color: #330b91;
    --link-hover-text-color: #f0f0f0;
    --nav-link-hover-bg: #4b2f7d;
    --nav-link-hover-text: #ffd700;
    --search-input: #f5f5f5;
    --input-border: #ccc;
    --line-color: #404040;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: $background-color;
}