@use "../abstracts/var";

aside {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: var.$gray;
  transition: color 0.3s ease;
}

.advanced-label {
  position: absolute;
  right: 20px;
  font-size: 18px;
}

.content {
  width: 100%;
  margin: 30px 0;

  div {
    box-shadow: var.$card-box-shadow;
  }
}
