:root {
    --font-family: Arial, sans-serif;
    --background-color: #e7e7e8;
    --header-bg-color: #3a23ac;
    --white: #fff;
    --aqua: aqua;
    --link-bg-color: #1a0971;
    --link-hover-bg-color: #330b91;
    --link-hover-text-color: #f0f0f0;
    --nav-link-hover-bg: #4b2f7d;
    --nav-link-hover-text: #ffd700;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

header {
    background-color: var(--header-bg-color);
    color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}

.home-link-wrap {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.home-link {
    color: var(--white);
    background-color: var(--link-bg-color);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.home-link p,
.home-link h1 {
    margin: 0;
}

.home-link:hover {
    background-color: var(--link-hover-bg-color);
}

.home-link:hover p,
.home-link:hover h1 {
    color: var(--link-hover-text-color);
}

h1 {
    font-size: 24px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabs p {
    margin: 0 10px;
    padding: 12px 20px;
    cursor: pointer;
}

.tabs .active-tab {
    border-bottom: 2px solid var(--aqua);
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link {
    background-color: var(--link-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.nav-link img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.nav-link p {
    margin: 0;
    font-size: 14px;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    background-color: var(--nav-link-hover-bg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nav-link:hover img {
    transform: scale(1.1);
}

.nav-link:hover p {
    color: var(--nav-link-hover-text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.image404 {
    margin-top: 100px;
}

.back-button {
    width: 100%;
    padding: 20px;
    background-color: var(--button-bg-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: var(--button-hover-bg-color);
}
